*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
background:#dfe9f5;

}

.container{
    display:flex;

}

.container2{

 flex:1;
}

.input{
    position: relative;
    top:0;
    bottom:0;
    height:100vh;
    Left:0;
    background:#fff;
    width: 280px;
    overflow:hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

a{
    position: relative;
    color:rgba(85,83,83);
    font-size: 14px;
    display:table;
    width:280px;
    padding:10px;
}

nav .fas{
    position:relative;
    width:70px;
    height:40px;
    top:14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position:relative;
    top:12px;
    margin-left:10px;
}

.input ul li a:hover {
    background-color: #ddd;
}  

.selected {
    background-color: #3bb398;;
}  

.navbar{
    background:#3bb398; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    
    align-items:center;
    justify-content: space-between;
}

.logo h1{
    font-size: 35px; font-weight: 600; color: #fff;
}
.fa-user{
    font-size: 2.5rem;
    padding:5%;
}

h2{
    font-size: 1rem;
    padding-left: 3%;
}

/* allergy section */
.allergy-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;

}

allergy-items{
    font-size: 4em;
    font-weight: 300;
}

.allergydiv {
    display: none;
  }
  
  .form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 207, 207, 0.5);
    transform: scale(1.1);
  }
  .form-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid rgb(19, 16, 16);
  }
  
  .hidden{
      display: none;
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .Library-container {
    margin-top: 30px;
    color: rgb(74, 150, 117);
    display: flex;
    padding-left: 2rem;
    gap: 3rem;
  }

/* end of allergy section */

/* symptom checker*/
.questions{
   
    visibility: hidden;
}

.durationQuestions{
    visibility: hidden;
}

.diseaseQuestions{
    visibility: hidden;
}


/* patient history section */
.historydiv {
    display: none;
  }
  
  .historyForm{
      display: none;
  }
  
  .form-contents2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid rgb(19, 16, 16);
  }
  
  .form2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 207, 207, 0.5);
    transform: scale(1.1);
  }
  .history-box {
    background-color: #1ebd4b;
    padding: 10px;
    border: 1px solid #110f0f;
    border-radius: 5px;
    max-width: 300px;
    text-align: left;
  }
  
  .history-box p {
    margin: 0;
  }
  
  .history-box button.cancel {
    background-color: #dc3545;
    color: #080404;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .history-box button.cancel:hover {
    background-color: #c82333;
  }
  /* current medication div*/
  .medicationdiv {
    display: none;
  }
  
  .form-contents3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid rgb(19, 16, 16);
  }
  
  .form3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 207, 207, 0.5);
    transform: scale(1.1);
  }
  
  .Library-container3 {
    margin-top: 30px;
    color: rgb(74, 150, 117);
    display: flex;
    padding-left: 2rem;
    gap: 3rem;
  }
  
  .medication-box{
      border: 1px solid #3bb398;
  }
  