<!DOCTYPE html>
<html>
<head>
<title>Registration Page</title>

<link rel="stylesheet" href="signup.css">
</head>
<body>

<div class="container">    
<h2>Create New Account</h2>

<form>

<label for="fullname">Full Name:</label>
<input type="text" id="fullname" name="fullname" required><br><br>

<label for="email">Email:</label>
<input type="email" id="email" name="email" required><br><br>

<label for="password">Password:</label>  
<input type="password" id="password" name="password" required><br><br>

<label for="Phone">Phone number:</label>  
<input type="text" id="phone" name="Phone number" required><br><br>


<label for="Gender">Gender:</label>
<select id="Gender" name="Gender" required>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Others">Others</option>
</select><br><br>

<input type="submit" value="Register">

</form> 
</div>

</body>
</html>